/* 公共样式：页面中的红色字体 */
#footer1 .text-red{
    color:#e62318;
}
/*精灵图*/
#footer1 .sprite-parent{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 152px;
    padding: 36px 0;
    border-bottom: 1px solid #ededed;
}
#footer1 .sprite-parent a{
    display: inline-block;
    width:150px;height: 80px;
    box-sizing: border-box;
}
/*8个精灵图*/
#footer1 .sprite-parent>a>div{
    width: 50px;height: 50px;
    margin: 0 auto;
}
#footer1 .sprite-parent a{
    text-align: center;
    color: #000;
    font-size:14px;
    text-decoration: none; 
}
#footer1 .sprite-parent a span{
    display: block;
    margin: 10px 0 0;
}
#footer1 .spa-d1{
    background: url("../imgs/foot/footerIcon.png") 0px 0px;
}
#footer1 .spa-d2{
    background: url("../imgs/foot/footerIcon.png") -50px 0px;
}
#footer1 .spa-d3{
    background: url("../imgs/foot/footerIcon.png") -100px 0px;
}
#footer1 .spa-d4{
    background: url("../imgs/foot/footerIcon.png") -150px 0px;
}
#footer1 .spa-d5{
    background: url("../imgs/foot/footerIcon.png") -0px -50px;
}
#footer1 .spa-d6{
    background: url("../imgs/foot/footerIcon.png") -50px -50px;
}
#footer1 .spa-d7{
    background: url("../imgs/foot/footerIcon.png") -100px -50px;
}
#footer1 .spa-d8{
    background: url("../imgs/foot/footerIcon.png") -150px -50px;
}
/*footer-help*/
#footer1 .footer-help{
    padding:35px 0 54px;
}
/*第二个div*/
#footer1 .footer-help>.footer-help-child{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    
}


/* 右边div的通用样式 */
#footer1 #d2 a{
    display: block;
    text-decoration: none;
    color: #999;
    font-size: 12px;
    margin: 9px 0 0;
    width: 151px;
    box-sizing: border-box;
}
#footer1 #d2 a:hover{
    color: #e62318;
}
#footer1 #d2 span{
    display: block;
    color:#444;
    font-size: 14px;
    margin: 0 0 15px;
}
 #footer1 #d2,#footer1 #d2 div{
    display: inline-block
}
#footer1 .footer-help #d2{
    width:851px;height: 256px;
    background: #fff;
}

#footer1 #d2 div{
    vertical-align:top;
}
#footer1 #d2 .d2-last-child span,   
#footer1 #d2 .d2-last-child a{
    width:126px ;
}
#footer1 #d2 div span+img{
    display: inline-block;
    width:96px;
}
/* 官方微信 */
#footer1 #d2 .d2-last-child+div>span{
    margin: 0 0 15px 4px 
}
