/*字体、颜色等公共样式*/
.c-333{
    color: #333;
}
.c-666{
    color: #666;
}
.c-e62318{
    color: #e62318;
}
/*背景颜色系列*/
.bg-eee{
    background: #eee;
}
.fz-20{
    font-size: 20px;
}
.fz-14{
    font-size: 14px;
}
/*所有的a标签都去掉下划线*/
a{
    text-decoration: none;
}

/* 鼠标移入字体变红 */
/*以下是目前使用此hover的选择器位置*/
/*1.新品首发下的更多新品*/
div.new-product>a:nth-child(2):hover,
/*热销套系中间的字*/
.hot-parent div>div a:hover,.hot-parent>div>a+div>a+p>a:nth-child(1):hover{
    color: #e62318;
}


/*页面内所有商品块鼠标移入时的阴影和位移效果*/
.list-1>div:hover,
.parent-3-2>div:hover{
    box-shadow: 0 5px 6px #aaa;
    transform: translate(0px 10px);
}

/* 华 */
/* 丽 */
/* 的 */
/* 分 */
/* 割 */
/* 线 */

div.carousel{
    background: #f1b778;
}
.carousel .carousel-child{
    width: 1200px;
    margin: 0 auto;
}
/* 4.1 */
div.list-1{
    width: 1200px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
}
.list-1>div{
    display: inline-block;
    position: relative;
}
.list-1>div:nth-child(1){
    width: 393px;height: 300px;
    overflow: hidden;
}
.list-1>div:not(:nth-child(1)){
    width: 259px;height: 300px;
    overflow: hidden;
}
/*后期可合并*/
.list-1>div>img{
    transition:all 0.3s ease-out;
}
.list-1>div:hover>img{
    transform: scale(1.06);
}

/* 团购 */
.group{
    box-sizing: border-box;
    width: 220px;height: 110px;
    padding: 10px;
    margin: 0 auto;
    position: absolute;
    top:32px;left:87px;
    background: #fff;
    z-index: 1;
}
.group>.group-son{
    box-sizing: border-box;
    width: 200px;height: 90px;
    border: 1px solid #ececec;
    padding: 0 22px;
    text-align: center;
}
/* 第一张图片上的两个a标签 */
.group>.group-son>a:nth-child(1){
    display: block;
    padding: 16px 0 5px;
    color: #333;
    font-size: 22px;
    border-bottom: 1px dashed #dfd3e9;
}
.group>.group-son>a:nth-child(2){
    display: block;
    padding: 5px 0 12px;
}
.list-1>div>.group-3{
    position: absolute;
    z-index: 1;
    top:30px;left: 60px;
    text-align: center;
}
.list-1>div>.group-3>a:nth-child(1){
    display: block;
    color: #333;
    font-size: 22px;
    padding: 18px 0 4px;
    margin: 0 0 3px;
}
/*四个第二个a标签的字体样式合到一处写*/
.group>.group-son>a:nth-child(2),.list-1>div>.group-3>a:nth-child(2){
    color: #666;
    font-size: 15px;
}
/*新品首发*/
div.new-product{
    box-sizing: border-box;
    width: 1200px;height: 96px;
    margin: 0 auto;
    padding: 45px 0 17px;
    display: flex;
    justify-content: space-between;
}
div.new-product>a:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;

}
div.new-product>a:nth-child(2){
    font-size: 14px;
    text-decoration: none;
    margin:12px 0 0;
}
/*精灵图*/
div.new-product>a:nth-child(2)>i{
    display: inline-block;
    width: 15px;height: 17px;
    background: url("../imgs/header/index.png")-136px 212px;
    vertical-align: bottom;
}


/* 3.2 */
/* 公共样式 */
.parent-3-2{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/*以下代码后期可合并*/
.parent-3-2>div{
    width: 393px;height: 393px;
    overflow: hidden;
    position: relative;
}
.parent-3-2>div>img{
    transition:all 0.3s linear;
}
.parent-3-2>div:hover>img{
    transform: scale(1.06);
}
/*以 上 代码后期可合并*/
/*图片上的字*/
.parent-3-2>div>div{
    width: 100%;
    position: absolute;
    bottom: 38px;
    text-align: center;
}
.parent-3-2>div>div>a:nth-child(1){
    display: block;
    width: 240px;
    font-size: 24px;
    margin: 0 auto 8px;
    padding: 0 0 8px;
    border-bottom: 2px solid #fff;
    color: #fff;
}
.parent-3-2>div>div>a:nth-child(2){
    font-size: 14px;
    color: #fff;
}
/* 人气推荐   热销套系 */
div.recommend,div.hot{
    width: 1200px;height: 94px;
    margin: 0 auto;
    padding: 45px 0 17px;
    box-sizing: border-box;
    color: #333;
}
div.recommend>span,div.hot>span{
    display: block;
    font-size: 24px;
    font-weight: bold;
}

/* recommend.3 */
div.recommend-3{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/*第一张图的样式*/
div.recommend-3>div:nth-child(1){
    width: 270px;height: 450px;
    overflow: hidden;
    position: relative;
}
/*文字*/
div.rec-3-3p{
    height: 69px;
    position: absolute;
    top: 45px;
    margin: 0 0 0 45px;
    box-sizing: border-box;
}
div.rec-3-3p>p:nth-child(2){
    margin: 4px 0 3px 0;
}

/*第二张图的样式*/
div.recommend-3>div:nth-child(2){
    width: 520px;height: 450px;
    overflow: hidden;
    position: relative;
}

/*第二张图中div的样式*/
div.rec-3-2p{
    width:260px;height: 100px;
    position: absolute;
    bottom: 40px;left: 130px;
    text-align: center;
    background: rgba(255,255,255,.8);
    padding: 22px 27px 0;
    box-sizing: border-box;
}
div.rec-3-2p>p:nth-child(1){
    margin: 0 0 6px; 
}
div.rec-3-2p>p:nth-child(2){
    border-top:1px dotted #333;
    padding: 7px 0 0;
}


/*第三个div的样式*/
div.recommend-3>.right-div{
    width: 390px;height: 450px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
/*右边两张图同时设置*/
/*两个a标签*/
div.right-div>a{
    display: block;
    width: 390px;height: 220px;
    overflow: hidden;
    position: relative;
}
/*里面的文字*/
div.right-div>a>div{
    width: 390px;height: 69px;
    margin: 0 0 0 30px;
    box-sizing: border-box;
    position: absolute;
    top:32px;
}
div.right-div>a>div>p:nth-child(1){
    font-size: 20px;
}
div.right-div>a>div>p:not(:nth-child(1)){
    font-size: 14px;
    margin: 3px 0 0;
}

/*四张图片放大效果，后期可合并*/
div.recommend-3>div:nth-child(1) img,
div.recommend-3>div:nth-child(2) img,
.right-div>a>img{
    transition:all 0.3s linear;
}
div.recommend-3>div:nth-child(1):hover img,
div.recommend-3>div:nth-child(2):hover img,
.right-div>a:hover img{
    transform: scale(1.06);
}
/* 热销套系的文字和人气推荐的文字写在一起 */


/*热销套系的图片*/
/*三张图片同时写*/
/* 最外层div */
div.hot-parent{
    width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
/* 包裹a标签的div */
.hot-parent>div{
    width:390px;height: 507px;
    box-sizing: border-box;
    background: #f5f5f5;
}
/* 包裹img的a标签 */
.hot-parent>div>a{
    display: block;
    width: 390px;height: 278px;
    overflow: hidden;
}
/*a标签里的img*/
.hot-parent>div>a>img{
    transition:all 0.3s linear;
}
.hot-parent>div>a:hover>img{
    transform: scale(1.06);
}

/* 下半部分文字部分 */
/* 外层div */
.hot-parent>div>a+div{
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    background: #f5f5f5;
}
/* 三角图标div */
.hot-parent>div>a+div>div{
    width: 0px;height: 0px;
    border:12px solid #eee;
    border-left-color:transparent;
    border-right-color:transparent;
    border-top-color:transparent;
    position: absolute;
    top:-24px;left:31px;
}
.hot-parent>div>a+div>div+a{
    font-size: 18px;
    color: #333;
    margin: 6px 0 5px;
}
/*重温经典时光，深情动人，让生活更有质感*/
.hot-parent>div>a+div>a+p>a:nth-child(1){
    display: inline-block;
    height: 20px;
    font-size: 14px;
    color: #999;
    margin: 0 0 0;
}
.hot-parent>div>a+div>a+p>a:nth-child(2){
    display: inline-block;
    height: 20px;
    font-size: 14px;
    color: #e62318;
    transform: translateY(-2px);
    margin: 0 0 0 10px;
}

/*九张小图之123*/
/*以下样式9张小图通用*/
.left-small-img{
    display: flex;
    justify-content:center;
    margin: 8px 0 0;
    position: relative;
    background: #f5f5f5;
}
.left-small-img>div>a{
    display: inline-block;
    width: 115px;height: 115px;
    overflow: hidden;
}
/*390-395行代码后期可合并*/
.left-small-img>div>a>img{
    transition:all 0.3s linear;
}
.left-small-img>div>a:hover>img{
    transform: scale(1.06);
}
/* 价格   span */
.left-small-img>div>a+span{
    display: block;
    width: 115px;
    color: #999;
    font-size: 13px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    transform: translateX(-2px);
}


/* 分 */
/* 割 */
/* 线 */

/* 客厅 */
div.drawing-room{
    width: 1200px;
    margin:47px auto 0;
    overflow: hidden;
    position: relative;
}
/* 图片左上角的商品分类索引 */
div.drawing-room>div:first-child{
    display: inline-block;
    position: absolute;
    left:50px;top:50px;
    background: rgba(255,255,255,1);
    width: 225px;height: 300px;
    box-sizing: border-box;
    z-index: 100;
}
/* “客厅”字体 */
div.drawing-room>div>p:nth-child(1){
    font-size: 40px;
    text-align: center;
    margin: 20px 0 0;
}
div.drawing-room>div>p:nth-child(2){
    font-size: 12px;
    text-align: center;
}
/*一大片a标签*/
div.drawing-room>div>div{
   
    padding: 31px 15px 0 20px;
    box-sizing: border-box;
    
}
div.drawing-room>div>div>a{
    display: inline-block;
    width: 90px;height: 25px;
    color: #333;
    font-size: 14px;
    background: #f5f5f5;
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 25px;
}
/*    */
/* 分 */
/* 割 */
/* 线 */
/*  左上角的商品分类索引hover背景变红 字体变白  */
div.drawing-room>div>div>a:hover{
    background: #e62318;
    color: #fff;
}

/*    */
/* 分 */
/* 割 */
/* 线 */
/*    */

/*大图*/
div.drawing-room>a.big-img{
    display: block;
    width: 1200px;height: 400px;
    overflow: hidden;
}

/*后期可合并*/
div.drawing-room>a.big-img>img{
    transition:all 0.3s linear;
}
div.drawing-room>a.big-img>img:hover{
    transform: scale(1.06);
}
/*后期可合并*/

/*右下角的8个选项*/
div.drawing-room>div>ul{
    display: flex;
    position: absolute;
    bottom: 0px;right: 51px;
}
div.drawing-room>div>ul>li{
    display: inline-block;
    font-size: 14px;
    color: #fff;
    width: 90px;height: 34px;
    text-align: center;
    line-height:34px;
    background: rgba(0,0,0,.5) 
}
/*鼠标移入的预案*/
div.drawing-room>div>ul>li:hover{
    background:rgba(255,255,255,.8);
    color: #000;
    cursor: pointer;
}


