/*字体、颜色等公共样式*/
.c-333{
    color: #333;
}
.c-666{
    color: #666;
}
.c-e62318{
    color: #e62318;
}
/*所有的a标签都去掉下划线*/
a{
    text-decoration: none;
}

/* 鼠标移入字体变红 */
/*以下是目前使用此hover的选择器位置*/
/*1.新品首发下的更多新品 2.待定*/
div.new-product>a:nth-child(2):hover{
    color: #e62318;
}

/*页面内所有商品块鼠标移入时的阴影和位移效果*/
.list-1>div:hover,
.parent-3-2>div:hover{
    box-shadow: 0 5px 6px #aaa;
    transform: translate(0px 10px);
}

/* 华 */
/* 丽 */
/* 的 */
/* 分 */
/* 割 */
/* 线 */

div.carousel{
    background: #f1b778;
}
.carousel .carousel-child{
    width: 1200px;
    margin: 0 auto;
}
/* 4.1 */
div.list-1{
    width: 1200px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
}
.list-1>div{
    display: inline-block;
    position: relative;
}
.list-1>div:nth-child(1){
    width: 393px;height: 300px;
    overflow: hidden;
}
.list-1>div:not(:nth-child(1)){
    width: 259px;height: 300px;
    overflow: hidden;
}
/*后期可合并*/
.list-1>div>img{
    transition:all 0.3s ease-out;
}
.list-1>div:hover>img{
    transform: scale(1.06);
}

/* 团购 */
.group{
    box-sizing: border-box;
    width: 220px;height: 110px;
    padding: 10px;
    margin: 0 auto;
    position: absolute;
    top:32px;left:87px;
    background: #fff;
    z-index: 1;
}
.group>.group-son{
    box-sizing: border-box;
    width: 200px;height: 90px;
    border: 1px solid #ececec;
    padding: 0 22px;
    text-align: center;
}
/* 第一张图片上的两个a标签 */
.group>.group-son>a:nth-child(1){
    display: block;
    padding: 16px 0 5px;
    color: #333;
    font-size: 22px;
    border-bottom: 1px dashed #dfd3e9;
}
.group>.group-son>a:nth-child(2){
    display: block;
    padding: 5px 0 12px;
}
.list-1>div>.group-3{
    position: absolute;
    z-index: 1;
    top:30px;left: 60px;
    text-align: center;
}
.list-1>div>.group-3>a:nth-child(1){
    display: block;
    color: #333;
    font-size: 22px;
    padding: 18px 0 4px;
    margin: 0 0 3px;
}
/*四个第二个a标签的字体样式合到一处写*/
.group>.group-son>a:nth-child(2),.list-1>div>.group-3>a:nth-child(2){
    color: #666;
    font-size: 15px;
}
/*新品首发*/
div.new-product{
    box-sizing: border-box;
    width: 1200px;height: 96px;
    margin: 0 auto;
    padding: 45px 0 17px;
    display: flex;
    justify-content: space-between;
}
div.new-product>a:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;

}
div.new-product>a:nth-child(2){
    font-size: 14px;
    text-decoration: none;
    margin:12px 0 0;
}
/*精灵图*/
div.new-product>a:nth-child(2)>i{
    display: inline-block;
    width: 15px;height: 17px;
    background: url("../imgs/header/index.png")-136px 212px;
    vertical-align: bottom;
}


/* 3.2 */
/* 公共样式 */
.parent-3-2{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/*以下代码后期可合并*/
.parent-3-2>div{
    width: 393px;height: 393px;
    overflow: hidden;
    position: relative;
}
.parent-3-2>div>img{
    transition:all 0.3s linear;
}
.parent-3-2>div:hover>img{
    transform: scale(1.06);
}
/*以 上 代码后期可合并*/
/*图片上的字*/
.parent-3-2>div>div{
    width: 100%;
    position: absolute;
    bottom: 38px;
    text-align: center;
}
.parent-3-2>div>div>a:nth-child(1){
    display: block;
    width: 240px;
    font-size: 24px;
    margin: 0 auto 8px;
    padding: 0 0 8px;
    border-bottom: 2px solid #fff;
    color: #fff;
}
.parent-3-2>div>div>a:nth-child(2){
    font-size: 14px;
    color: #fff;
}
/* 人气推荐   热销套系 */
div.recommend{
    width: 1200px;height: 94px;
    margin: 0 auto;
    padding: 45px 0 17px;
    box-sizing: border-box;
    color: #333;
}
div.recommend>span{
    display: block;
    font-size: 24px;
    font-weight: bold;
}

/* recommend.3 */
div.recommend-3{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/*第一张图的样式*/
div.recommend-3>div:nth-child(1){
    width: 270px;height: 450px;
    overflow: hidden;
    position: relative;
}
/*4张图片放大效果，后期可合并*/
div.recommend-3>div:nth-child(1) img,
div.recommend-3>div:nth-child(2) img,
div.recommend-3>div:nth-child(3) img{
    transition:all 0.3s linear;
}
div.recommend-3>div:nth-child(1):hover img,
div.recommend-3>div:nth-child(2):hover img,
div.recommend-3>div:nth-child(3):hover img{
    transform: scale(1.06);
}
div.rec-3-3p{
    width:100%;height: 69px;
    position: absolute;
    top: 0px;
    text-align: center;
}

/*第二张图的样式*/
div.recommend-3>div:nth-child(2){
    width: 520px;height: 450px;
    overflow: hidden;
    position: relative;
}
/*图片的放大效果放到216行去了*/

/*第二张图中div的样式*/
div.rec-3-2p{
    width:260px;height: 110px;
    margin: 0 auto 0;
    position: absolute;
    bottom: 0px;left:0px;
    text-align: center;
    background: rgba(255,255,255,.3);
}

/*第三个div的样式*/
div.recommend-3>.right-div{
    width: 390px;height: 450px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
/*右边两张图同时设置*/
/*两个a标签*/
div.right-div>a{
    display: block;
    width: 390px;height: 220px;
    overflow: hidden;
    position: relative;
}
/*里面的文字*/
div.right-div>a>div{
    width: 390px;height: 69px;
    margin: 0 0 0 30px;
    box-sizing: border-box;
    position: absolute;
    top:32px;
}
div.right-div>a>div>p:nth-child(1){
    font-size: 20px;
}
div.right-div>a>div>p:not(:nth-child(1)){
    font-size: 14px;
    margin: 3px 0 0;
}



